
.table-sm td, .table-sm th {
    padding: 0px 1px;
}

.hash-rank{
    padding-left: 10px;
}

.con-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 3px 0%;
    font-size: 80%;

}
.con-meta{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    vertical-align: auto;
    margin: 3px 0%;
    font-size: 80%;
}


.con-countdown, .con-duration{
    font-size: 90%;
    padding-right:10px;
    margin: auto;
}

.rank-filters{
    font-size: 60%;
}

.con-status{
    font-size: 70%;
}

.input-url{
    margin: 1% 5%;
}

.white-hyperlink a{
    color:#fff
}

.loading{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
}

.loading p{
    padding-top: 20vh;
}