
.table-sm td, .table-sm th {
    padding: 0px 1px;
}

.hash-rank{
    padding-left: 10px;
}

.con-info{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 3px 0%;
}

.con-tittle{
    font-size: 80%;
}
.rank-filters{
    font-size: 50%;
}

.input-url{
    margin: 1% 5%;
}

.white-hyperlink a{
    color:#fff
}

.loading{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
}

.loading p{
    padding-top: 20vh;
}