
.contests td{
    padding-left: 10px;
    padding-right: 10px;
    text-align: left;
}

.contests th{
    padding-left: 10px;
    padding-right: 10px;
    text-align: left;
}

.filter-container{
    display: flex;
    flex-flow: row wrap;
    /* justify-content: flex-start; */
    align-items: left;
    justify-content: left;
    text-align: center;
}

.content-list-div{
    display: flex;
    flex-flow: col wrap;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 80%;
}

.content-div{
    margin: 5% 5%;
}