
.ranklist td{
    padding-left: 10px;
    padding-right: 10px;
}

.con-tittle{
    padding: 10px;
}

.input-url{
    margin: 1% 5%;
}

.ranklist{
    margin: 1% 5%;
}


.loading{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
}

.loading p{
    padding-top: 20vh;
}